.form-control {
    font-size: 0.9rem;
}

select.form-control:not([size]):not([multiple]) {
    height: 2.05rem;
}

.input-sm,
.form-control-sm {
    height: 31px;
}

.input-s-lg {
    width: 250px;
}

.i-checks {
    padding-left: 0;
}

.form-control,
.single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.form-control:focus,
.single-line:focus {
    border-color: #1ab394;
}

.has-success .form-control,
.has-success .form-control:focus {
    border-color: #1ab394;
}

.has-warning .form-control,
.has-warning .form-control:focus {
    border-color: #f8ac59;
}

.has-error .form-control,
.has-error .form-control:focus {
    border-color: #ed5565;
}

.btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3,
h4,
h5 {
    margin-top: 5px;
    font-weight: 600;
}

.inline {
    display: inline-block !important;
}

.input-s-sm {
    width: 120px;
}

.input-s {
    width: 200px;
}

body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2f4050;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}


/* BACKGROUNDS */

.gray-bg,
.bg-muted {
    background-color: #f3f3f4;
}


/* ERROR & LOGIN & LOCKSCREEN*/

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}

.lockscreen.middle-box {
    width: 200px;
    padding-top: 110px;
}

.loginscreen.middle-box {
    width: 300px;
}

.logo-name {
    color: #e6e6e6;
    font-size: 180px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}